external_components:
  - source: ../components

esp32:
  framework:
    type: ${type}
    version: ${version}
    platform_version: ${platform_version}
  board: ${board}

logger:
  level: DEBUG
  hardware_uart: USB_SERIAL_JTAG

esphome:
  name: "test-node"

wifi:
  power_save_mode: none
  networks:
    - ssid: ssid
      password: password

api:

canbus:
  platform: canbus_usb_serial
  id: can_bus
  can_id: 1
